@media only screen and (max-width: 1200px) {
	#contactWrapper {
		width: 80%;
	    margin-top: 30%;
	}
}

@media only screen and (max-width: 1050px) {
	#leftNav,
	#rightNav {
	    width: calc(50% - 22px);
	}

	#leftNav {
		padding-left: 20px;
	}

	#rightNav {
		padding-right: 20px;
	}

	#libraryLogo {
		max-width: 50%;
	}

	.aboutTheProject {
	    max-width: 50%;
	    font-size: 35px;
	    text-align: right;
	}

	#aboutText {
	    max-width: 50%;
	    text-align: left;
	    margin: auto;
	}

	#indexBooks {
		max-width: 80%;
	}

	#indexBooks .book {
		width: calc(20% - 14px);
	}

	#muchMore {
	    max-width: calc(90% - 14px);
	}
	
	#muchMore div:first-child {
		letter-spacing: 3px;
    	font-size: 24px;
	}

	#quoteBlock {
	    max-width: 42%;
	}

	#quote {
		padding: 15% 0;
	}

	.whereToFindUsHeader {
		font-size: 35px;
	}
	
	#contactWrapper {
		width: 100%;
		margin-top: 40%;
	}

	footer {
		padding: 30px 20px;
	}
}

@media only screen and (max-width: 768px) {
	/*INDEX*/
	#indexNav {
		display: none;	
	}

	#indexNav img {
	    width: 30px;
	    padding: 20px;
	    display: block;
	}

	#libraryLogo {
		max-width: 50%;
	}

	.aboutTheProject {
	    max-width: 65%;
	    font-size: 35px;
	    text-align: right;
	}

	#aboutText {
	    max-width: 65%;
	    text-align: left;
	    margin: auto;
	}

	#indexBooks {
		max-width: 80%;
	}

	#indexBooks .book {
		width: calc(50% - 14px);
	}

	#muchMore {
	    max-width: calc(90% - 14px);
	}
	
	#muchMore div:first-child {
		letter-spacing: 3px;
    	font-size: 24px;
	}

	#quoteBlock {
	    max-width: 55%;
	}

	#quote {
		padding: 25% 0;
	}

	#triangle-topleft {
		display: none;
	}

	#whereToFindUs {
		width: 100%;
		height: auto;
		float: none;
	    margin-bottom: 15%;
	}
	
	#contact {
		height: auto;
	}

	#contactWrapper {
		left: 0;
	    margin: 15% auto 0;
	    width: 80%;
	}

	.whereToFindUsHeader {
		font-size: 40px;
	}

	#map {
		width: 100%;
		height: 400px;
		float: none;
	}

	footer {
		padding: 30px 20px;
	}

	.menuBtn img {
		width: 40px;
		padding: 15px;
		z-index: 10000;
		display: inline-block;
	}
}

@media only screen and (max-width: 600px) {
	#indexNav img {
		display: block;
	}

	/*INDEX*/
	#leftNav,
	#rightNav {
		display: none;
	}

	#libraryLogo {
		max-width: 85%;
	}

	.aboutTheProject {
		max-width: 90%;
		font-size: 35px;
	}

	#aboutText {
		max-width: 90%;
		text-align: left;
	}

	#indexBooks {
		max-width: 94%;
	}

	#indexBooks .book {
		width: calc(50% - 14px);
	}

	#muchMore {
	    max-width: calc(90% - 14px);
	}
	
	#muchMore div:first-child {
		letter-spacing: 3px;
    	font-size: 24px;
	}

	#quoteBlock {
	    max-width: 55%;
	}

	#quote {
		padding: 25% 0;
	}

	#triangle-topleft {
		display: none;
	}

	#whereToFindUs {
		width: 100%;
		height: auto;
		float: none;
	    margin-bottom: 15%;
	}
	
	#contact {
		height: auto;
	}

	#contactWrapper {
		left: 0;
	    margin: 15% auto 0;
	    width: 85%;
	}

	.whereToFindUsHeader {
		font-size: 35px;
	}

	#map {
		width: 100%;
		height: 400px;
		float: none;
	}

	footer {
		padding: 30px 20px;
	}
}

@media only screen and (max-width: 520px) {
	#logInBox {
		max-width: 100%;
	}

	#signUp {
		width: 100%;
		padding: 15px 0 45px;
	}

	#signUp #logoLibrary {
    	max-width: 60%;
	}

	.about input {
	    width: calc(29% - 12.5px);
    	width: 70%;
	}

	.text input {
		width: 70%;
	}

	#signUp .line {
	    margin: 15px auto 10px;
	    width: calc(70% + 20px);
	}

	#button button {
	    width: calc(70% + 20px);
	}


}